#portfolio-section {
  width: 100%;
  /* background: linear-gradient(
      127deg,
      var(--blue),
      rgba(255, 255, 255, 0) 70.71%
    ),
    linear-gradient(217deg, var(--accent), rgba(255, 255, 255, 0) 70.71%),
    linear-gradient(336deg, rgb(211, 154, 154), rgba(247, 247, 247, 0) 70.71%); */

  background: linear-gradient(127deg, #2147c4, rgba(255, 255, 255, 0) 70.71%),
    linear-gradient(217deg, #15b141, rgba(255, 255, 255, 0) 70.71%),
    linear-gradient(336deg, rgb(221, 77, 77), rgba(247, 247, 247, 0) 70.71%);

  /* background: linear-gradient(200deg, rgba(27, 49, 121, 1) 0%, rgba(47, 249, 107, 1) 100%); */
  justify-items: center;

  padding: 2rem 0;
}

.filter-container {
  display: flex;
  gap: 1rem;
}

.portfolio-container {
  width: 80rem;
  padding: 2rem;

  display: flex;
  flex-wrap: wrap;

  justify-content: center;
  gap: 1rem;
}
