.portfolio {
  display: block;
  height: 17rem;
  width: 17rem;
  background-color: var(--white40);
  color: black;
  box-shadow: 1px 1px 10px black;
  border: 0px solid black;
  border-radius: 2px;
  transition: all 0.3s;
  align-content: center;
  text-align: center;
  overflow: hidden;
}

.portfolio-content {
  position: relative;
  overflow: hidden;
  height: 100%;
  width: 100%;
}

.portfolio-content:hover > .portfolio-image-container > .portfolio-image {
  transform: scale(1.5) rotate(-10deg);
}

.portfolio-content:hover > .portfolio-info {
  opacity: 0.85;
}

.portfolio-image-container {
  height: 100%;
  width: 100%;
  align-content: center;
  padding: 1.5rem;
}

.portfolio-image {
  color: var(--secondary);
  font-size: 10rem;
  transition: all 0.5s ease-in-out;
}

.portfolio-info {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 10;
  top: 0;
  left: 0;
  opacity: 0;
  transition: all 0.5s;
  background-color: black;
  color: var(--text);
  padding: 1rem;

  display: grid;
  grid-template-rows: min-content auto min-content;
}

.portfolio-button-container {
  display: flex;
  justify-content: right;
  gap: 1rem;
  padding: 1rem;
  font-size: 1rem;
  opacity: 1;
}

.portfolio-button {
  transition: all 0.3s;
}

.portfolio-button:hover {
  color: var(--text-accent);
  transform: scale(1.5);
  cursor: pointer;
}

.tech-skill {
  margin: 0.2rem;
  padding: 0.2rem 0.5rem;
  font-size: 0.7rem;
  background-color: var(--secondary);
  border-radius: 5px;
  color: white;
}
