#skill-section {
  position: relative;
  height: 100vh;
  overflow: hidden;
  background-color: #101f4c;
}
.bg-img {
  max-width: 100%;
  object-fit: cover;
  object-position: center;
  opacity: 70%;
}

.img-cover {
  position: absolute;
  z-index: 10;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: linear-gradient(
    to bottom,
    hsl(225, 65%, 18%, 0%) 0%,
    #101f4c 70%
  );
}

.skills-grid {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 20;
  width: 100%;
  height: 100%;

  display: grid;
  grid-template-areas: "title title" "coding database";
  grid-template-rows: 60% auto;
  grid-template-columns: 1fr 1fr;
  row-gap: 2rem;
  justify-items: center;
}

.skills-title {
  grid-area: title;
  align-content: end;
  justify-items: center;
  padding-bottom: 1rem;
  width: 100%;
  letter-spacing: 0.2rem;
}

.line {
  width: 80%;
  height: 0.1rem;
}
n .skills-coding {
  grid-area: coding;
  letter-spacing: 0.2rem;
}
.skills-database {
  grid-area: database;
  letter-spacing: 0.2rem;
}
