.navbar-container {
  background-color: var(--background);
  position: sticky;
  width: 100%;
  top: 0;
  z-index: 1000;
}

.navbar-content {
  display: grid;
  grid-template-columns: auto 1fr 1fr;
  min-height: var(--navbar-height);
  width: 100%;
}

.page-header-logo {
  margin: -1rem 2rem -1rem 2rem;
  width: 5rem;
  height: 5rem;
  color: white;
  border-radius: 50%;
  border: 5px solid white;
  overflow: hidden;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.5);
}

.logo {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.page-header-name {
  display: flex;
  flex-direction: column;
  font-size: clamp(1rem, 1.3rem, 1.5rem);
}

.subtext {
  color: var(--text-accent);
  font-size: clamp(0.6rem, 0.8rem, 1rem);
}

.navigation-list-wrapper {
  height: 100%;
}

.navigation-list {
  display: flex;
  justify-content: end;
  height: 100%;
}

.navigation-list-item {
  display: flex;
  justify-content: center;
  padding: 0rem 0.2rem;

  transition: all 0.3s;
  height: 100%;
}

.navigation-list-link {
  height: 100%;
  transition: all 0.5s;
}

.navigation-list-item:hover {
  background-color: var(--text-accent);
}

.navigation-list-item:hover > .navigation-list-link-icon {
  color: black;
  transform: scale(1.3);
}

.navigation-list-link-icon {
  height: auto;
  max-width: 1.2rem;
  padding: 0 1.2rem;
  color: white;
  transition: all 0.5s;
}

@media all and (max-width: 749px) {
  .navigation-list-wrapper {
    position: fixed;
    top: 60px;
    left: -100%;
    background-color: var(--navbar-color);
    width: 100%;

    transform: translateX(-100%);
    transition: all 0.3s;
  }

  .navbar-show {
    left: 0;
    transform: translateX(0%);
  }

  .navigation-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 15px;
    padding-bottom: 15px;
  }

  .hamburger.fa-bars {
    display: inline-block;
    transition: transform 0.2s;
  }

  .hamburger:hover {
    transform: scale(1.2);
  }

  .profile {
    flex-direction: column;
    align-items: center;
  }

  .profile-portrait {
    margin-right: 0;
  }

  .profile-text {
    text-align: center;
  }

  .grid {
    grid-template-columns: 1fr;
  }

  .work-exp-grid {
    grid-template-columns: 1fr;
  }

  #about-section {
    height: auto;
  }

  .grid-item:last-child {
    grid-column: auto / auto;
    grid-row: auto / auto;
  }
}
