@import "../../index.css";

.mask-hover {
  position: relative;
  display: inline-block;
  color: white;
  padding: 0.5rem 1rem;
  overflow: hidden;
  z-index: 0;
  transition: color 0.3s ease;
}

.mask-hover::before {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #3498db; /* Blue background mask */
  z-index: -1;
  transition: top 0.4s ease;
}

.mask-hover:hover::before {
  top: 0;
}
/* 
.mask-hover:hover {
  color: black;
} */
