@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";
@import "tailwindcss/preflight.css" layer(base);

:root {
  --bs-body-color: var(--text);
  --bs-body-bg: #222;

  --text: hsl(0, 0%, 100%);
  --white10: hsl(0, 0%, 100%, 10%);
  --white40: hsl(0, 0%, 100%, 40%);
  --white80: hsl(0, 0%, 100%, 80%);
  --white90: hsl(0, 0%, 100%, 90%);
  --background: hsl(0, 0%, 0%);
  --primary: hsl(217, 83%, 73%);
  --primary20: hsla(353, 83%, 73%, 0.2);
  --primary30: hsl(217, 83%, 73%, 30%);
  --blue: #1b3179;
  --blue2: #0f1937;
  --blue5: hsl(226, 64%, 29%, 5%);
  --blue10: hsl(226, 64%, 29%, 10%);
  --blue20: hsl(226, 64%, 29%, 20%);

  --secondary: #40535a;
  --secondary20: hsl(207, 100%, 94%, 60%);
  --accent: #2b7440;
  --accent80: hsl(16, 18%, 52%);
  --text-accent: #2ff96b;
  --active-color: #30eb94;

  --swiper-pagination-color: var(--text-accent);
  --swiper-pagination-bullet-inactive-opacity: 1;
  --swiper-pagination-bullet-inactive-color: var(--text);

  --bs-secondary-bg: var(--primary30);
  --bs-border-radius: 2px;

  --grid-item-bg-color: #9bc0d9;
  --grid-item-text-color: #323232;
  --input-border-color: #eee;

  --navbar-color: white;
  --bg-color-odd: #edfafb;
  --bg-color-even: #3d5b81;

  --button-color: #293241;

  --highlight: #ee6b4d;
  --text-color: white;

  --nav-link-color: grey;

  --navbar-height: 50px;
  --header-font-weight: 700;
  --text-decoration: none;
  --border: none;
  --margin-body: 0 auto;
}

@layer base {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
}

body {
  font-family: "Montserrat", "Roboto", "Raleway", sans-serif;

  font-weight: 400;
  font-size: 16px;
  line-height: 1.6;
}

body,
html {
  height: 100%;
}

html {
  scroll-behavior: smooth;
}
